/* ===================================
   MARQUEE STRAPS
   =================================== */
.marqee {
  position: absolute;
  bottom: 0%;
  min-width: 200vw;
  width: max-content;
  transform: rotate(-15deg) translate(-2%);
  transform-origin: 0% 0%;
  padding: 1rem 0;
  background: var(--color-marquee-dark-bg);
  color: var(--color-marquee-dark-fg);
  z-index: -1;
}

.marqee.marqee-light {
  z-index: -2;
  transform: rotate(50deg);
  left: 65%;
  bottom: 100%;
  background: var(--color-marquee-light-bg);
  color: var(--color-marquee-light-fg);
}

@media only screen and (max-width: 768px) {
  .marqee.marqee-light {
    display: none !important;
  }

  .marqee {
    padding: 8px 0;
    transform: rotate(-25deg) translate(-2%);
  }
}

.marqee ul {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-right: 2rem;
  list-style: none;
  animation: marqee 15s linear infinite;
}

.marqee ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  white-space: nowrap;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
  .marqee ul li {
    font-size: 14px;
  }
}

.marqee ul li::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-accent);
}

@media only screen and (max-width: 640px) {
  .marqee ul li::before {
    width: 8px;
    height: 8px;
  }
}
